<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--使用注解自动装配-->
    <context:annotation-config/>
    <bean id="cat" class="com.dwh.Cat"/>
    <bean id="dog" class="com.dwh.Dog"/>

    <!--
    byName:自动在容器上下文中查找当前类中，set方法后名称对应的beanId的实例；保证所有bean的id唯一
    byType:自动在容器上下文中查找，对应类型的bean（如果同类型的bean有两个则会报错）；保证所有bean的class唯一
    -->
    <bean id="person" class="com.dwh.Person" autowire="byName">
        <property name="name" value="dwh"/>
    </bean>


    <bean id="f1" class="com.dwh.annotation.Father"/>
    <bean id="m1" class="com.dwh.annotation.Mother"/>
    <bean id="c1" class="com.dwh.annotation.Child"/>
    <bean id="h1" class="com.dwh.annotation.Home"/>

</beans>