<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace绑定一个对应的Dao/Mapper接口 -->
<mapper namespace="com.dwh.mapper.StudentMapper">
    <resultMap id="StudentTeacher1" type="Student">
        <!--column数据库中的字段名 property实体类中的名称 -->
        <result column="ID" property="sid"/>
        <result column="STUDENT_NAME" property="name"/>
        <association property="teacher" column="TEACHER_ID" javaType="Teacher" select="getTeacher"/>
    </resultMap>

    <select id="getTeacher" resultType="Teacher">
        select ID as tid, TEACHER_NAME as name from TEACHER WHERE ID = #{id}
    </select>

    <select id="getStudent" resultMap="StudentTeacher1">
        select * from STUDENT
    </select>

    <resultMap id="StudentTeacher2" type="Student">
        <!--column数据库中的字段名 property实体类中的名称 -->
        <result column="ID" property="sid"/>
        <result column="STUDENT_NAME" property="name"/>
        <association property="teacher" column="{id=TEACHER_ID,name=STUDENT_NAME}" javaType="Teacher" select="getTeacherTwo"/>
    </resultMap>

    <select id="getStudent2" resultMap="StudentTeacher2">
        select * from STUDENT
    </select>

    <select id="getTeacherTwo" resultType="Teacher">
        select ID as tid, TEACHER_NAME as name from TEACHER WHERE ID = #{id} and TEACHER_NAME LIKE #{name}
    </select>

    <resultMap id="StudentTeacherJoin" type="Student">
        <result column="ID" property="sid"/>
        <result column="STUDENT_NAME" property="name"/>
        <association property="teacher" javaType="Teacher">
            <result column="TEACHER_ID" property="tid"/>
            <result column="TEACHER_NAME" property="name"/>
        </association>
    </resultMap>

    <select id="getStudentJoin" resultMap="StudentTeacherJoin">
        select * from STUDENT a JOIN TEACHER b on a.TEACHER_ID = b.ID
    </select>

</mapper>