<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace绑定一个对应的Dao/Mapper接口 -->
<mapper namespace="com.dwh.mapper.TeacherMapper">
    <resultMap id="TeacherStudent1" type="Teacher">
        <result property="tid" column="ID"/>
        <result property="name" column="TEACHER_NAME"/>
        <collection property="students" ofType="Student">
            <result property="name" column="STUDENT_NAME"/>
        </collection>
    </resultMap>

    <resultMap id="teacherT" type="Teacher">
        <result column="TEACHER_NAME" property="name"/>
        <collection property="students" ofType="Student">
            <result column="sName" property="name"/>
            <result column="sId" property="sid"/>
        </collection>
    </resultMap>

    <select id="selectAll" resultMap="teacherT">
        SELECT s.STUDENT_NAME as sName, s.ID as sId, t.TEACHER_NAME from TEACHER t join STUDENT s on t.ID = s.TEACHER_ID
    </select>

    <select id="selectAll2" resultMap="teacher3">
        select * from TEACHER
    </select>

    <resultMap id="teacher3" type="Teacher">
        <!--resultMap可以通过字段名（驼峰命名）自动匹配，所以可以不用写teacher的字段对应-->
        <collection property="students" javaType="ArrayList" ofType="Student" select="selectStudentByTid" column="ID"/>
    </resultMap>

    <select id="selectStudentByTid" resultType="Student">
        select ID AS sid, STUDENT_NAME AS name from STUDENT where TEACHER_ID = #{ID}
    </select>
</mapper>