<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace绑定一个对应的Dao/Mapper接口 -->
<mapper namespace="com.dwh.mapper.UserMapper">
    <resultMap id="user1" type="user">
        <!--column数据库中的字段名 property实体类中的名称 -->
        <result column="ID" property="id"/>
    </resultMap>

    <select id="selectOne" resultType="com.dwh.entity.User" >
        select * from USER;
    </select>

    <insert id="insertOne" parameterType="com.dwh.entity.User">
        insert into USER(ID, USER_NAME, USER_CODE,CREATETIME, phone) VALUES(#{id}, #{userName}, #{userCode}, #{createTime}, #{phone})
    </insert>
</mapper>