<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.dwh.spring.pojo.StaticUserServiceImpl"/>
    <bean id="log" class="com.dwh.spring.demo3.api.Log"/>
    <bean id="afterLog" class="com.dwh.spring.demo3.api.AfterLog"/>

    <!--实现方法一：使用原生spring api接口实现-->
    <aop:config>
        <!--切入点： expression:切入表达式，格式为：execution(....)-->
        <aop:pointcut id="pointcut" expression="execution(* com.dwh.spring.pojo.*.*(..))"/>

        <!--添加通知-->
        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>
    </aop:config>

   <!-- 实现方法二：使用自定义类实现切面-->
    <bean id="diy" class="com.dwh.spring.demo3.diy.MyDiyPointCut"/>

    <aop:config>
        <!--说明切面类-->
        <aop:aspect ref="diy">
            <aop:pointcut id="point" expression="execution(* com.dwh.spring.pojo.*.*(..))"/>
            <aop:before method="before" pointcut-ref="point"/>
            <aop:after method="after" pointcut-ref="point"/>
        </aop:aspect>
    </aop:config>
</beans>