<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="com.dwh.http://www.springframework.org/schema/beans"
       xmlns:xsi="com.dwh.http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="com.dwh.http://www.springframework.org/schema/aop"
       xmlns:tx="com.dwh.http://www.springframework.org/schema/tx"
       xsi:schemaLocation="com.dwh.http://www.springframework.org/schema/beans com.dwh.http://www.springframework.org/schema/beans/spring-beans.xsd com.dwh.http://www.springframework.org/schema/context com.dwh.http://www.springframework.org/schema/context/spring-context.xsd com.dwh.http://www.springframework.org/schema/aop com.dwh.http://www.springframework.org/schema/aop/spring-aop.xsd com.dwh.http://www.springframework.org/schema/tx com.dwh.http://www.springframework.org/schema/tx/spring-tx.xsd">
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="dataSourceTransactionManager">
        <tx:attributes>
            <tx:method name="find*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="add*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.dwh.service.*.*(..))"/>
    </aop:config>
</beans>